<a href="https://colab.research.google.com/github/sebastianacebedo/CPE-103-OOP-1-A/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [10]:
week = ["Sunday","Monday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Wednesday

In [11]:
week = ["Sunday","Monday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Wednesday
Thursday

#Range Function

In [75]:
for x in range(6):
  print(x)

print()

for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

#Nested Loop

In [20]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#Python while loop

In [21]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#Break Statement

In [22]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

#Continue Statement

In [45]:
i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5

#Else Statement

In [46]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#Application 1

In [50]:
for i in range(11):
  print("Hello",i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [68]:
i = 0
while i < 11:
  i += 1
  print("Hello",i)
  if i == 11:
    break

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 11

#Practical Test

In [74]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9