<a href="https://colab.research.google.com/github/sebastianacebedo/CPE-103-OOP-1-A/blob/main/PHYTONFUNDAMENTAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

phyton indentation

In [ ]:
if 5>2:
  print("five is greater than two!")

five is greater than two!

Phyton comment

In [ ]:
#This is a comment
print ("hello world")

hello world

Phyton Variable

In [ ]:
x = 1
a,b = 0, -1
c = "sally"
print (a,b,c)

0 -1 sally

Casting

In [ ]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"double quote" or 'single quote'

In [ ]:
y="Sebastian"
print (y)

y='Sebastian'
print (y)

Sebastian
sebastian

Case Sensitive

In [ ]:
a=4
A="Sebastian"
print (a)
print (A)

4
Sebastian

multiple variables

In [ ]:
a,b,c = '1','2','3'
print (a)
print (b)
print (c)

1
2
3

One value to multiple variables

In [ ]:
a=b=c = '4'
print (a)
print (b)
print (c)

4
4
4

Output variable

In [ ]:
x='enjoying'
print('Phyton programming is '+ x)

phyton programming is enjoying

Other way

In [ ]:
x = 'Phyton programming'
y = ' is enjoying'
print (x+y)

Phyton programming is enjoying

arithmetic operation

In [ ]:
#Floor division
x=50
y=4
print (x//4)

#division
x=50
y=4
print (x/y)

12
12.5

Comparison Operator

In [31]:
x=5
y=5
print (x<y)

False

Logical operator

In [34]:
a=100
b=50
x=25
y=10

print (a|b>=x&y)

True

Bitwise Operator

In [48]:
#decimal to binary
#10=1010

x=10
x>>2

print(x)

10

**APPlICATION 1**

In [54]:
#Application 1
#Area of Square=b*h
b=float(input('Enter Base: '))
h=float(input('Enter Height: '))
Area= b*h
print('Area of square: ' ,Area)

Enter Base: 10
Enter Height: 5
Area of square:  50.0

In [55]:
#Area of Trapezium
a=float(input('Enter a: '))
b=float(input('Enter b: '))
h=float(input('Enter h: '))
Area= (a+b)*h/2
print('Area of Trapezium: ',Area)

Enter a: 10
Enter b: 15
Enter h: 2
Area of Trapezium:  25.0

In [63]:
#Area of circle
pi=(3.14)
r=float(input('Enter r: '))
Area= pi*r**2
print('Area of circle: ',Area)

Enter r: 15
Area of circle:  706.5