<a href="https://colab.research.google.com/github/sebastianacebedo/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NUMBERS

In [ ]:
varNum = 123
pi = 3.14159

#Strings

In [ ]:
varString = "Hello world"
varText = 'This is a text'

#LISTS

In [ ]:
varList = ["abc", 123]

#TUPLES

In [ ]:
varTuples = ("abc", 123 , "Hello")

#DICTIONARIES

In [ ]:
var = 3
varDict = {'first':1, '2':'2nd', 3:var}

In [ ]:
varDict = {}
varDict['first'=1]
varDict['2']= '2nd'
varDict[3]=var

#ARITHMETIC

In [21]:
#Addition
a = 5 + 3

#Subtraction
a = 5 -3

#Multiplication
a = 5 * 3

#Exponent
a = 5 ** 3

#Division
a = 5 / 3

#Floor Division
a = 5 // 3

#Modulus
a = 5 % 3

#Increment/ Decrement
a = 5
a += 1

#Decrement
a = 5
a -= 1

#string Concatenation
a = 'Hello ' + 'World'

#Complex Expression
a = 3 + 5 - 6 * 2/4

5.0

#Control Statements and Data Structures

In [18]:
#Conditional Statements

#Boolean Conditions
x = True

if x:
  print("var is True")
else:
  print("var is False")



#String Conditions
x = "Hello World"

if x == "Hello World":
  print("x is Hello World")
else:
  print("x is not Hello World")



#Numerical Conditions
x = 10

if x == '10':
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")



#Multiple Conditions
x = 10

if x > 5 and x < 15 and x == 10:
  print("var is ok")
else:
  print("var is not ok")

var is True
x is Hello World
var x is an integer
var is ok

#Loops

In [17]:
#For Loops
for var in range(0,5,2):
  print(var)

#While Loops
var = 0
while var < 5:
  print(var)
  var += 2


#Nested Loops
x = 0
while x < 5:
  for y in range(0,x):
    print(y, end='')
  x += 1
  print()


#Break and Continue
x = 0
while x < 10:
  print(x
  x += 1

SyntaxError: '(' was never closed (<ipython-input-17-a2a30147adc4>, line 24)

#Function

In [16]:
def remainder (n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10, 4)

2

#List

In [15]:
from os import remove
pi = 3.14159
varList = [1, 2, 'A','B', 'Hello', pi]

print(varList[4])

varList.append('World')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

Hello
World
3.14159
World

#Dictionaries

In [14]:
var = "Hello World"
varDict = {'first' : 123, 2: 'abc', '3':var, 4:['lista', 'listb']}

print(varDict[2])

print(varDict['3'])

print(varDict[4])

print(varDict[4][1])

len(varDict)

abc
Hello World
['lista', 'listb']
listb

4

#List Generators and Comprehension

In [13]:
from ast import Num
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield Num
    nm += 1

gen_num_up_to(5)

#Note: This create an Object
vaList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0, 5, 2)
print ([var for var in varList])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
[0, 2, 4]

#Slicing

In [12]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]